# This workflow will do a clean install of node dependencies, build the source code and run tests

name: 'Surveiller les plages'

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 3 * * *'

env:
  MATRIX_ACCESS_TOKEN: ${{ secrets.MATRIX_ACCESS_TOKEN }}

jobs:
  run-bobot:
    name: Do your magic surf bobot
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use bun ${{ env.node-version }}
        run: curl -fsSL https://bun.sh/install | bash
      - name: Install deps
        run: ~/.bun/bin/bun i
      - name: Run script
        run: ~/.bun/bin/bun index.ts
